<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="waterfall.useUtcTimeStamp" value="False" />
    <add key="waterfall.gradient" value="4A0000,750000,9F0000,C60000,FF0000,FE6D16,FFFF00,FFFFFF,1E90FF,000091,000050,000030,000020" />
    <add key="spectrumAnalyzer.gradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzer.envelopeColor" value="CCCCCC" />
    <add key="core.centerFrequency" value="1420000000" />
    <add key="core.usableBandwidthRatio" value="0.8" />
    <add key="core.useBiasTee" value="False" />
    <add key="core.usePacking" value="False" />
  </appSettings>
</configuration>