<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frontendPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="sharpPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <frontendPlugins configSource="FrontEnds.xml" />
  <sharpPlugins configSource="Plugins.xml" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <appSettings file="">
    <clear />
    <add key="processPriority" value="256" />
    <add key="fftOffset" value="-40.0" />
    <add key="pllPhaseAdjM" value="0.0" />
    <add key="pllPhaseAdjB" value="-1.75" />
    <add key="deemphasisTime" value="50" />
    <add key="tuningLimit" value="0.45" />
    <add key="spectrumAnalyzer.snrGradient" value="FFFFFF,1E90FF,000091,000050" />
    <add key="spectrumAnalyzer.gradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzer.envelopeColor" value="FFFFFF" />
    <add key="spectrumAnalyzer.fillColor" value="1E90FF" />
    <add key="spectrumAnalyzer.refreshInterval" value="30" />
    <add key="waterfall.refreshInterval" value="30" />
    <add key="waterfall.useUtcTimeStamp" value="False" />
    <add key="waterfall.gradient" value="4A0000,750000,9F0000,C60000,FF0000,FE6D16,FFFF00,FFFFFF,1E90FF,000091,000050,000030,000020" />
    <add key="useAntiAliasedDisplay" value="true" />
    <add key="stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,3 kHz,5 kHz,6.25 kHz,7.5 kHz,8.33 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
    <add key="funcubeFrequencyCorrection" value="-21.0" />
    <add key="softrockFrequencyMultiplier" value="4" />
    <add key="RTLBufferLength" value="16384" />
    <add key="minOutputSampleRate" value="32000" />
    <add key="minReducedNarrowBandwidth" value="9000" />
    <add key="minReducedWideBandwidth" value="120000" />
    <add key="minThreadedSampleRate" value="1000000" />
    <add key="airspy.vga" value="6" />
    <add key="airspy.mixerAgc" value="False" />
    <add key="airspy.mixer" value="6" />
    <add key="airspy.lnaAgc" value="False" />
    <add key="airspy.lna" value="1" />
    <add key="airspy.sampleRate" value="0" />
    <add key="airspy.decimation" value="0" />
    <add key="airspy.trackingFilterEnabled" value="True" />
    <add key="airspy.biasTeeEnabled" value="False" />
    <add key="airspy.spyVerterEnabled" value="True" />
    <add key="airspy.spyVerterPPM" value="0" />
    <add key="airspy.usePacking" value="False" />
    <add key="airspy.aliasFreeRatio" value="0.8" />
    <add key="airspy.debug" value="0" />
    <add key="airspyhf.debug" value="0" />
    <add key="airspyhf.libdsp" value="1" />
    <add key="airspyhf.sampleRate" value="768000" />
    <add key="airspyhf.iqBalancer.buffersToSkip" value="1" />
    <add key="airspyhf.iqBalancer.fftIntegration" value="4" />
    <add key="airspyhf.iqBalancer.fftOverlap" value="2" />
    <add key="airspyhf.iqBalancer.correlationIntegration" value="16" />
    <add key="airspyhf.aliasFreeRatio" value="0.8" />
    <add key="core.iqBalancer.buffersToSkip" value="1" />
    <add key="core.iqBalancer.fftIntegration" value="4" />
    <add key="core.iqBalancer.fftOverlap" value="2" />
    <add key="core.iqBalancer.correlationIntegration" value="16" />
    <add key="spyserver.disableAutoScaling" value="false" />
    <add key="rdsUseFEC" value="True" />
    <add key="timestampInterval" value="100" />
    <add key="SDRIQReadBlockCount" value="1" />
    <add key="zoomPosition" value="1" />
    <add key="displayBeforeFilter" value="false" />
    <add key="SDRIQOutFifoBlockCount" value="0" />
    <add key="USRPSampleRates" value="0.25,0.5,1.0,2.0,2.5,8.0,16.0,32.0" />
    <add key="spyserver.uri" value="sdr://127.0.0.1:5555" />
    <add key="spyserver.streamFormat" value="3" />
    <add key="spyserver.fullIQ" value="False" />
    <add key="rtl.tunerGain" value="0" />
    <add key="rtl.sampleRate" value="3" />
    <add key="rtl.tunerAgc" value="False" />
    <add key="rtl.frequencyCorrection" value="0" />
    <add key="rtl.chipAgc" value="False" />
    <add key="rtl.samplingMode" value="0" />
    <add key="rtl.offsetTuning" value="False" />
    <add key="HackRFSampleRate" value="20 MSPS" />
    <add key="HackRFFrequencyCorrection" value="0" />
    <add key="HackRFLNAGain" value="3" />
    <add key="HackRFVGAGain" value="3" />
    <add key="HackRFExternalAmp" value="True" />
    <add key="plugin.bandPlan.enabled" value="True" />
    <add key="plugin.bandPlan.autoUpdateSettings" value="True" />
    <add key="plugin.bandPlan.position" value="1" />
    <add key="dnr.af.enabled" value="False" />
    <add key="dnr.af.profile" value="0" />
    <add key="dnr.af.threshold" value="-120" />
    <add key="dnr.af.depth" value="20" />
    <add key="dnr.af.slope" value="12" />
    <add key="dnr.af.attack" value="30" />
    <add key="dnr.af.decay" value="40" />
    <add key="dnr.af.fft" value="1" />
    <add key="dnr.if.enabled" value="False" />
    <add key="dnr.if.profile" value="0" />
    <add key="dnr.if.boostSNR" value="False" />
    <add key="dnr.if.threshold" value="-120" />
    <add key="dnr.if.depth" value="20" />
    <add key="dnr.if.slope" value="12" />
    <add key="dnr.if.attack" value="30" />
    <add key="dnr.if.decay" value="40" />
    <add key="dnr.if.fft" value="1" />
    <add key="nb.bb.enabled" value="False" />
    <add key="nb.bb.threshold" value="5" />
    <add key="nb.bb.pulseWidth" value="10" />
    <add key="nb.bb.lookupWindow" value="20" />
    <add key="nb.if.enabled" value="False" />
    <add key="nb.if.threshold" value="5" />
    <add key="nb.if.pulseWidth" value="30" />
    <add key="nb.if.lookupWindow" value="50" />
    <add key="nb.demod.enabled" value="False" />
    <add key="nb.demod.threshold" value="5" />
    <add key="nb.demod.pulseWidth" value="50" />
    <add key="nb.demod.lookupWindow" value="30" />
    <add key="enableZoomFFTFilter" value="False" />
    <add key="enableZoomIF" value="False" />
    <add key="enableZoomMPX" value="False" />
    <add key="enableZoomAF" value="False" />
    <add key="DSDPath" value="C:\Users\marco\Desktop\SDR\dsd\DSDPlus.exe" />
    <add key="DSDArguments" value=" -v2 -O NUL -I0 -i1 -o3 -g0 -u3 -dr0 -dh0 -ds64 -dd10 -dv20 -M15 -fa" />
    <add key="DSDAuxArguments" value="-wsl10.10 -wss200.300 -wsp100 -wel50.50 -wes400.500 -weh15 -wcl90.90 -wch15" />
    <add key="DSDOutputDevice" value="[Windows DirectSound] CABLE Input (VB-Audio Virtual Cable)" />
    <add key="DSDGain" value="47" />
    <add key="TV.Bright" value="54" />
    <add key="TV.Contrast" value="57" />
    <add key="TV.Modulation" value="0" />
    <add key="TV.VideoFilter" value="True" />
    <add key="TV.Pal_NTSC" value="0" />
    <add key="TV.ManualSync" value="False" />
    <add key="spectrumAnalyzer.attack" value="0.442623" />
    <add key="spectrumAnalyzer.decay" value="0.3114754" />
    <add key="waterfall.Attack" value="1" />
    <add key="waterfall.decay" value="0.7" />
    <add key="useTimeMarkers" value="False" />
    <add key="fftSpeed" value="18" />
    <add key="fftContrast" value="-22" />
    <add key="fftWindowType" value="3" />
    <add key="spectrumStyle" value="3" />
    <add key="fftView" value="2" />
    <add key="fftResolution" value="6" />
    <add key="detectorType" value="0" />
    <add key="useAGC" value="False" />
    <add key="agcThreshold" value="-50" />
    <add key="agcDecay" value="500" />
    <add key="agcSlope" value="0" />
    <add key="agcHang" value="False" />
    <add key="frequencyShift" value="0" />
    <add key="frequencyShiftEnabled" value="False" />
    <add key="swapIQ" value="False" />
    <add key="correctIQ" value="True" />
    <add key="markPeaks" value="False" />
    <add key="fmStereo" value="False" />
    <add key="filterAudio" value="False" />
    <add key="unityGain" value="False" />
    <add key="latency" value="50" />
    <add key="sampleRate" value="48000 sample/sec" />
    <add key="audioGain" value="39" />
    <add key="AudioIsMuted" value="False" />
    <add key="windowState" value="2" />
    <add key="windowPosition" value="-204,101" />
    <add key="windowSize" value="900,647" />
    <add key="collapsiblePanelStates" value="1,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0" />
    <add key="splitterPosition" value="324" />
    <add key="iqSource" value="3" />
    <add key="waveFile" value="" />
    <add key="centerFrequency" value="426843501" />
    <add key="vfo" value="423175000" />
    <add key="tuningStyle" value="1" />
    <add key="fftDisplayOffset" value="0" />
    <add key="fftDisplayRange" value="8" />
    <add key="inputDevice" value="[MME] Asignador de sonido Microsoft - Input" />
    <add key="outputDevice" value="[MME] Asignador de sonido Microsoft - Output" />
    <add key="spectrumWidth" value="18000000" />
    <add key="lockCarrier" value="False" />
    <add key="useAntiFading" value="False" />
    <add key="menuPosition" value="964" />
    <add key="wfmState" value="250000,260,3,50,0,1000,1,19,0,1,0,0" />
    <add key="nfmState" value="25000,1020,3,49,0,1000,0,13,0,0,0,0" />
    <add key="amState" value="5380,1500,3,50,0,1000,0,7,0,1,0,0" />
    <add key="lsbState" value="2400,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="usbState" value="2400,1060,3,50,0,1000,1,1,0,1,0,0" />
    <add key="dsbState" value="6000,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="cwState" value="8650,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="rawState" value="10000,1000,3,50,0,1000,0,4,0,1,0,0" />
    <add key="topSplitter" value="200" />
    <add key="bottomSplitter" value="150" />
    <add key="leftSplitter" value="200" />
    <add key="rightSplitter" value="200" />
    <add key="menuIsHidden" value="False" />
    <add key="core.theme" value="FluentDark" />
  </appSettings>
</configuration>