# SPY Server Configuration File

# TCP Listener
#
bind_host = 0.0.0.0
bind_port = 5555-6666

# List Server in Airspy Directory
#
list_in_directory = 1

# Owner Name
# For example: John Doe L8ZEE
owner_name =

# Owner email
# For example: john@doe.com
owner_email =

# Antenna
# For example: Random Wire/Magnetic Loop/Mini-Whip/Inverted V/etc.
antenna_type =

# Antenna Location
# For example: 48.858332, 2.294560
antenna_location =

# General Description
#
general_description =

# User sessions
#
maximum_clients = 1

# Maximum session duration
# In minutes. 0 for no limit
#
#maximum_session_duration = 30

# Allow clients to retune and change of gain of the device
#
allow_control = 1

# Device Type
# Possible Values:
#   AirspyOne (R0, R2, Mini)
#   AirspyHF+
#   RTL-SDR
#   Auto      (Scans for the first available device)
#
device_type = Auto

# Device Serial Number as 64bit Hex
# For example: 0xDD52D95C904534AD
# A value of 0 will acquire the first available device.
#
device_serial = 0

# Device Sample Rate
# Possible Values:
#   Airspy R0, R2 : 10000000 or 2500000
#   Airspy Mini   :  6000000 or 3000000
#   Airspy HF+    :   768000
#   RTL-SDR       :   500000 to 3200000
# Comment to use the device's default
#
#device_sample_rate = 2500000

# Force 8bit Compression Mode
# The 8bit Compression mode has proven sufficiently good for most streaming use cases.
# Use it to same some internet bandwidth.
#
#force_8bit = 1

# Maximum Bandwidth
# Limits the maximum IQ bandwidth the clients can set
# Recommended value for WFM is 200000
# Recommended value for narrow band modes is 15000
#
#maximum_bandwidth = 15000

# FFT Frames Per Second
#
fft_fps = 15

# FFT Bins
# Bins = 2^fft_bin_bits
#
fft_bin_bits = 16

# Initial Center Frequency
#
#initial_frequency = 7100000

# Minimum Tunable Frequency
# Comment if using the device default
#
#minimum_frequency = 0

# Maximum Tunable Frequency
# Comment if using the device default
#
#maximum_frequency = 35000000

# Frequency Correction in PPB
#
#frequency_correction_ppb = 0

# Initial Gain
#
#initial_gain = 5

# RTL-SDR Sampling mode
# Quadrature = 0,
# Direct Sampling I Branch = 1
# Direct Sampling Q Branch = 2
#rtl_sampling_mode = 0

# Converter Offset
# Set to -120000000 to enable the SpyVerter offset
#converter_offset = -120000000

# Bias-Tee
# For AirspyOne only - Useful for LNA's and SpyVerter
#enable_bias_tee = 0

# Buffer Size (in milliseconds)
#
buffer_size_ms = 50

# Buffer Count
#
buffer_count = 10
